pkgbase = spackit-workspace
	pkgdesc = A complete repo of spackit
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/Jeicobroot-jrt/spackit-message
	install = spackit-workspace.install
	arch = any
	license = MIT
	depends = bash
	depends = netcat
	depends = micro
	depends = vim
	depends = php
	depends = php-apache
	depends = apache
	depends = python
	depends = python-gobject
	source = spackit_aliases.sh
	sha256sums = 1d58ddd1b0017a0ecbcbcf9f164776118916c7b605afdd1fbe6186c6dfff0bcc

pkgname = spackit-workspace
