pkgbase = spackit-workspace
	pkgdesc = A complete repo of spackit
	pkgver = 0.10.1
	pkgrel = 3
	url = https://github.com/Jeicobroot-jrt/spackit-workspace
	install = spackit-workspace.install
	arch = any
	license = MIT
	depends = bash
	depends = netcat
	depends = php-apache
	depends = apache
	depends = git
	source = spackit_aliases.sh
	sha256sums = 138568a3c9e0a0c6a4884c9b68d52fc64ec95435ea3966492d26c9fa61047aff

pkgname = spackit-workspace
