pkgbase = spackit-workspace
	pkgdesc = A complete repo of spackit
	pkgver = 0.10.3
	pkgrel = 3
	url = https://github.com/Jeicobroot-jrt/spackit-workspace
	install = spackit-workspace.install
	arch = any
	license = MIT
	makedepends = libx11
	makedepends = bash
	makedepends = netcat
	depends = php-apache
	depends = apache
	depends = git
	source = setup_aliases.sh
	sha256sums = b8ec77e2dfb1986ed405386db79a0ae90e0da8bda381d7d10b9f2213a0a9739a

pkgname = spackit-workspace
